.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

memcached
memcached-debug
memcached-debug.profile
missing
stamp-h1
tags
TAGS
cscope.out
memcached_dtrace.h
*~
memcached-*.tar.gz
memcached-*.tar.gz.sha1
salequick-memcached.qycmvc.cfg.use1.cache.amazonaws.com/*
memcached.qycmvc.cfg.use1.cache.amazonaws.com/*
memcached.qycmvc.cfg.use1.cache.amazonaws.com:11211/
salequick-memcached.qycmvc.cfg.use1.cache.amazonaws.com:11211/
