@font-face {
    font-family: 'Nunito-Regular';
    src: url('fonts/Nunito-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ocraexta';
    src: url('fonts/ocraexta.TTF') format('truetype');
}
.form-control {
	background-color: #FAFAFF !important;
}
label {
	color: #3A3C3F !important;
	font-weight: 600 !important;
	font-family: 'Nunito-Regular' !important;
	margin-bottom: 5px !important;
}
input.form-control {
    font-family: Nunito-Regular !important;
    color: #424D59 !important;
    border: none !important;
}
input.form-control::placeholder {
    font-family: Nunito-Regular !important;
    color: #424D59 !important;
}
input#money {
    font-family: Nunito-Regular !important;
    color: #447BD7 !important;
}
input#money::placeholder {
    font-family: Nunito-Regular !important;
    color: #447BD7 !important;
}
textarea.form-control::placeholder {
    font-family: Nunito-Regular !important;
    color: #424D59 !important;
}
select.form-control {
    border: 1px solid #424D59 !important;
    font-family: Nunito-Regular !important;
}
.amount_row {
	height: 180px !important;
	padding-top: 20px !important;
	padding-bottom: 0px !important;
	margin: 0px;
	background-color: #FAFAFF !important;
	border-radius: 10px;
}
.input-group-text {
	background-color: #FAFAFF !important;
	color: #3A3C3F !important;
	font-size: 24px !important;
	font-family: Nunito-Regular !important;
}
.small_box {
	background-color: #FAFAFF;
    padding: 10px;
    border-radius: 10px;
}
#show_card_popup {
	width: 100%;
}
.btn {
	font-family: Nunito-Regular !important;
}
.btn.btn-first {
	font-size: 14px !important;
	font-family: Nunito-Regular !important;
	background: #447BD7 !important;
	border-radius: 6px !important;
}
.btn.btn-first:hover, .btn.btn-first:focus {
	background: #447BD7 !important;
    color: #fff !important;
}
.button5 {
    border-radius: 5px;
    width: 55px;
    margin-right: 1px;
}

@media (max-width: 640px) {
    .form-title {
        margin-top: 15px;
    }
}

.checkbox label .input-frame:before {
    border: 2px solid #969696 !important;
}
.card-inner-sketch {
    /*background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 115, 220, 0.9)), to(#2273dc));
    background: -webkit-linear-gradient(rgba(34, 115, 220, 0.9), #2273dc);
    background: -o-linear-gradient(rgba(34, 115, 220, 0.9), #2273dc);
    background: linear-gradient(rgba(34, 115, 220, 0.9), #2273dc);
    margin: auto;*/

    /*background: #2C1277;
    background: -webkit-linear-gradient(to right, #150D46, #2C1277);
    background: linear-gradient(to right, #150D46, #2C1277);
    box-shadow: 0px -1px 25px 0px rgba(16, 57, 107, 0.63);*/

    /*background: url('new_assets/img/credit_card_bg.jpg');*/
}
.btn.btn-second.d-colors{
    border-color: background: linear-gradient(rgba(34, 115, 220, 0.9), #2273dc);
    color: background: linear-gradient(rgba(34, 115, 220, 0.9), #2273dc) !important;
}
.btn.btn-second.d-colors:hover, .btn.btn-second.d-colors:focus{
    border-color: background: linear-gradient(rgba(34, 115, 220, 0.9), #2273dc);
    background-color: background: linear-gradient(rgba(34, 115, 220, 0.9), #2273dc);
    color: #fff !important;
}
.btn-group-lg>.btn, .btn-lg{
    border-radius: 4px;
}
.card-form .form-group{
    position: relative;
}
.card-form .form-group.incorrect::after{
    position: absolute;
    top: 5px;right: 5px;
    content: "Invalid";font-size: 12px;
    line-height: 1;pointer-events: none;
    color: red;
}
.card-form .form-control.incorrect, .card-form .form-control.incorrect:focus {
    border-color: red;
}
.loader_wraper_outer {
    user-select: none;
    display: none;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999999;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.loader_wraper_outer .overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
}

@-webkit-keyframes overlayA {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes overlayA {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes iconA {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes iconA {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.loader_wraper_inner {
    opacity: 0;
    display: table-cell;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    text-align: center;
}

.loader_wraper_inner svg {
    max-width: 130px;
    width: 100%;
    height: auto;
}

.loader_wraper_inner svg .l_svg_top {
    stroke: #009ceb;
    fill: transparent;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    -webkit-animation: sql linear 3s infinite 0s;
    animation: sql linear 3s infinite 0s;
}

.loader_wraper_inner svg .l_svg_bottom {
    stroke: #d2d2d2;
    fill: transparent;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    -webkit-animation: sql_o linear 3s infinite 0s;
    animation: sql_o linear 3s infinite 0s;
}

.loader_wraper_inner svg .l_circle_one {
    stroke: #009ceb;
    fill: transparent;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    -webkit-animation: circle_f linear 3s infinite 0s;
    animation: circle_f linear 3s infinite 0s;
}

.loader_wraper_inner svg .l_circle_two {
    stroke: #d2d2d2;
    fill: transparent;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    -webkit-animation: circle_s linear 3s infinite 0s;
    animation: circle_s linear 3s infinite 0s;
}

@-webkit-keyframes sql {
    0% {
        fill: transparent;
        stroke-dashoffset: 1200;
    }
    60% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    65% {
        fill: #009ceb;
        stroke-dashoffset: 0;
    }
    100% {
        fill: #009ceb;
        stroke-dashoffset: 0;
    }
}

@keyframes sql {
    0% {
        fill: transparent;
        stroke-dashoffset: 1200;
    }
    60% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    65% {
        fill: #009ceb;
        stroke-dashoffset: 0;
    }
    100% {
        fill: #009ceb;
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes sql_o {
    0% {
        fill: transparent;
        stroke-dashoffset: 1200;
    }
    60% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    65% {
        fill: #d2d2d2;
        stroke-dashoffset: 0;
    }
    100% {
        fill: #d2d2d2;
        stroke-dashoffset: 0;
    }
}

@keyframes sql_o {
    0% {
        fill: transparent;
        stroke-dashoffset: 1200;
    }
    60% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    65% {
        fill: #d2d2d2;
        stroke-dashoffset: 0;
    }
    100% {
        fill: #d2d2d2;
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes circle_f {
    0% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    60% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    65% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    75% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    80% {
        fill: #009ceb;
        stroke-dashoffset: 0;
    }
    100% {
        fill: #009ceb;
        stroke-dashoffset: 0;
    }
}

@keyframes circle_f {
    0% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    60% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    65% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    75% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    80% {
        fill: #009ceb;
        stroke-dashoffset: 0;
    }
    100% {
        fill: #009ceb;
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes circle_s {
    0% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    60% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    65% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    75% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    80% {
        fill: #d2d2d2;
        stroke-dashoffset: 0;
    }
    100% {
        fill: #d2d2d2;
        stroke-dashoffset: 0;
    }
}

@keyframes circle_s {
    0% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    60% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    65% {
        fill: transparent;
        stroke-dashoffset: 300;
    }
    75% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    80% {
        fill: #d2d2d2;
        stroke-dashoffset: 0;
    }
    100% {
        fill: #d2d2d2;
        stroke-dashoffset: 0;
    }
}

/*loading text*/
.loading_txt {
    margin: 0;
    color: #d2d2d2;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 16px;
}

.loading_txt:after {
    content: ' .';
    -webkit-animation: dots 1s steps(5, end) infinite;
    animation: dots 1s steps(5, end) infinite;
    font-size: 25px;
}

@-webkit-keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: #d2d2d2;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.25em 0 0 #d2d2d2, 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: .25em 0 0 #d2d2d2, .5em 0 0 #d2d2d2;
    }
}

@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: #d2d2d2;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.25em 0 0 #d2d2d2, 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: .25em 0 0 #d2d2d2, .5em 0 0 #d2d2d2;
    }
}
@media  only screen and (max-width: 767px){
    .loader_wraper_inner svg {
    max-width: 101px;}
    .loading_txt{font-size: 12px;}
}

#card_close {
	top: 30px !important;
    right: 30px !important;
    color: #fff !important;
    border: none !important;
    height: 25px !important;
    width: 25px !important;
    background-color: #FF7474 !important;
    padding: 0px 6px 2px 5px !important;
}
.card_form_title {
	color: #3A3C3F !important;
    font-weight: 600 !important;
    font-family: 'Nunito-Regular' !important;
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 18px !important;
}