body {
  background-size: 100% 201px;
  background-position: top center;
  background-repeat: no-repeat; }

a:hover, a:focus {
  text-decoration: none; }

.alert {
  padding: 7px 15px; }

.remove_card_btn {
  color: #e1e6ea;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  z-index: 3; }

.btn.btn-second {
  font-size: 16px;
  outline: none;
  -webkit-box-shadow: 0 0;
  box-shadow: 0 0;
  background-image: none;
  background-color: transparent;
  border: 1px solid #2273dc;
  color: #1369d9;
  padding: 7px 15px; }
  .btn.btn-second:hover, .btn.btn-second:focus {
    background-color: #2273dc;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 1px solid #2273dc;
    color: #fff; }

.btn.btn-first {
  font-size: 16px;
  background-color: #2273dc;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #2273dc;
  color: #fff;
  padding: 7px 15px; }
  .btn.btn-first:hover, .btn.btn-first:focus {
    outline: none;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    background-image: none;
    background-color: transparent !important;
    border: 1px solid #2273dc !important;
    color: #1369d9 !important; }

.btn.danger-btn {
  font-size: 16px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #d0021b;
  color: #d0021b;
  padding: 7px 15px; }
  .btn.danger-btn:hover, .btn.danger-btn:focus {
    outline: none;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    background-image: none;
    background-color: #d0021b !important;
    border: 1px solid #d0021b !important;
    color: #fff !important; }

.f-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

button.btn.cpCompletePayBtn, button.btn.cardPaySignModalTglr {
  float: right;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 12px;
  padding: 9px 15px; }

button.btn-second.clear-sign-sketch {
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 9px 15px; }

button {
  outline: none !important; }
  button.btn.cardPaySignModalTglr {
    max-width: 200px;
    width: 100%;
    margin-top: 40px; }

input#verify_phone_on_cp {
  margin: 15px 0 0;
  max-width: 251px; }

.custom-form {
  position: relative; }

.custom-checkbox {
  position: relative; }
  .custom-checkbox input[type="checkbox"], .custom-checkbox input[type="radio"] {
    display: none; }
  .custom-checkbox input[type="checkbox"].radio-circle + label, .custom-checkbox input[type="radio"].radio-circle + label {
    height: 15px;
    padding-top: 2px;
    line-height: 1;
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .custom-checkbox input[type="checkbox"].radio-circle + label:before, .custom-checkbox input[type="radio"].radio-circle + label:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #9b9b9b;
      position: absolute;
      border-radius: 3px;
      left: 0px;
      top: 0px;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      -o-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s; }
    .custom-checkbox input[type="checkbox"].radio-circle + label::after, .custom-checkbox input[type="radio"].radio-circle + label::after {
      width: 9px;
      top: 3px;
      height: 9px;
      content: "";
      left: 3px;
      position: absolute;
      border-radius: 2px;
      display: block;
      opacity: 1;
      border: 1px solid #2273dc;
      z-index: 2;
      background: #2273dc;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .custom-checkbox input[type="checkbox"].radio-circle:checked + label, .custom-checkbox input[type="radio"].radio-circle:checked + label {
    color: #2273dc; }
    .custom-checkbox input[type="checkbox"].radio-circle:checked + label::after, .custom-checkbox input[type="radio"].radio-circle:checked + label::after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .custom-checkbox input[type="checkbox"].radio-circle:checked + label::before, .custom-checkbox input[type="radio"].radio-circle:checked + label::before {
      border-color: #2273dc; }
  .custom-checkbox input[type="checkbox"]:not(.radio-circle):checked + label, .custom-checkbox input[type="radio"]:not(.radio-circle):checked + label {
    color: #2273dc; }
    .custom-checkbox input[type="checkbox"]:not(.radio-circle):checked + label:before, .custom-checkbox input[type="radio"]:not(.radio-circle):checked + label:before {
      width: 9px;
      top: -1px;
      left: 7px;
      border-radius: 0;
      opacity: 1;
      border-color: #2273dc;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .custom-checkbox input[type="checkbox"]:not(.radio-circle) + label, .custom-checkbox input[type="radio"]:not(.radio-circle) + label {
    line-height: 20px;
    padding-top: 0;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -ms-user-select: none; }
    .custom-checkbox input[type="checkbox"]:not(.radio-circle) + label:before, .custom-checkbox input[type="radio"]:not(.radio-circle) + label:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #9b9b9b;
      position: absolute;
      left: 1px;
      top: 2px;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      -o-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s; }

.flex-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.mycl-wrapper.responsive-cols.flex-row {
  margin: 0 -7px; }

.responsive-cols .flex-col {
  padding-left: 7px;
  padding-right: 7px;
  min-width: 91px; }

.mx-253 {
  max-width: 253px; }

.flex-col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%; }

.responsive-cols .mx-125 {
  max-width: 125px;
  min-width: 121px; }

.flex-col.mx-253 {
  max-width: 253px; }

.modal p {
  font-size: 13px;
  color: #878787;
  line-height: 30px;
  margin: 4px 0px; }

.modal .modal-dialog .close {
  top: -18px;
  position: absolute;
  right: -18px;
  height: 36px;
  width: 36px;
  background-color: #fff;
  opacity: 1;
  border: 2px solid #ddd;
  text-shadow: none;
  color: #ddd;
  border-radius: 50%; }
  .modal .modal-dialog .close:hover {
    color: #d0021b; }

.modal .modal-content {
  background-color: #f3f3f3; }

.modal h4 {
  color: #3e3e3e;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; }

.modal-title .ttlamt {
  color: #1369d9;
  font-size: 25px;
  display: inline-block;
  vertical-align: -3px;
  margin-left: 7px; }

.modal-body .sign-wrapper + p {
  line-height: 1.432;
  margin-top: 7px;
  padding: 0 7px;
  text-align: justify; }

.invoice-wrapper {
  max-width: 972px;
  margin: 30px auto 51px;
  float: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px -1px 6px 0px rgba(16, 57, 107, 0.63);
  box-shadow: 0px -1px 6px 0px rgba(16, 57, 107, 0.63);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #3e3e3e;
  clear: both;
  padding: 21px;
  width: 100%;
  background-color: #fafafa; }

.card-inner-sketch {
  border-radius: 7px;
  padding: 21px;
  overflow: hidden;
  max-width: 351px; }
  .card-inner-sketch .c__titl {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 2px;
    -webkit-filter: drop-shadow(0 1px 1px #043f58);
    filter: drop-shadow(0 1px 1px #043f58);
    letter-spacing: 1px; }
  .card-inner-sketch .c__val {
    -webkit-filter: drop-shadow(0 1px 1px #043f58);
    filter: drop-shadow(0 1px 1px #043f58);
    letter-spacing: 1px;
    color: #fff;
    font-size: 21px;
    margin-bottom: 21px; }
    .card-inner-sketch .c__val.nameonc {
      max-width: 100%;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .card-inner-sketch .c__val.card__no span:not(:last-child) {
      padding-right: 15px; }
    .card-inner-sketch .c__val.dots {
      font-size: 8px;
      line-height: 30px; }
      .card-inner-sketch .c__val.dots span:not(:last-child) {
        padding-right: 2px; }
  .card-inner-sketch > .c__val:last-child {
    margin-bottom: 0; }

h3 {
  color: #404040;
  font-weight: 600;
  font-size: 18px; }
  h3 a, h3 a:hover, h3 a:focus {
    color: #111; }

.pay-detail, .bill-address {
  max-width: 385px;
  margin: 0 auto; }
  .pay-detail h3, .bill-address h3 {
    margin-bottom: 21px; }

.pay-detail {
  margin-bottom: 51px; }

.card-form .movbale {
  color: #ccc;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  font-size: 12px; }

.card-form .form-control {
  color: #000000;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  -webkit-box-shadow: 0 0;
  box-shadow: 0 0;
  background-color: transparent;
  border-radius: 0;
  height: 30px;
  padding: 4px 0; }
  .card-form .form-control.incorrect {
    border-color: red; }
  .card-form .form-control:focus {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    border-color: #0091e9; }

.card-type-logo {
  max-width: 60px;
  width: 100%;
  margin: 4px auto 7px; }
  .card-type-logo img {
    max-width: 100%;
    width: 100%; }

.power-txt a {
  color: #4a90e2; }

.privacy-txt {
  color: #666; }
  .privacy-txt a:hover {
    color: #4a90e2; }

.slogan {
  padding: 15px 0;
  margin: 0;
  font-size: 14px; }

.back-btn-title a span {
  padding-right: 7px; }

.card-placeholder {
  margin: 51px 0 21px;
  clear: both; }

.irm-header-inner {
  max-width: 851px;
  margin: 0 auto; }

.card-inner-boxes {
  clear: both;
  float: left;
  margin: 21px 0 21px -6px; }
  .card-inner-boxes .card-box {
    position: relative;
    float: left;
    margin: 5px; }
    .card-inner-boxes .card-box:hover .remove_card_btn {
      color: #d0021b; }
    .card-inner-boxes .card-box input[name="card_selection_radio"] {
      opacity: 0;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      max-width: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      margin: 0;
      padding: 0; }
      .card-inner-boxes .card-box input[name="card_selection_radio"]:checked + .card__box {
        border-color: #0079e2; }
    .card-inner-boxes .card-box .card__box {
      padding: 7px;
      border-radius: 7px;
      border: 1px solid #ddd; }
    .card-inner-boxes .card-box .card__no .fa {
      font-size: 8px;
      position: relative;
      top: -2px; }
    .card-inner-boxes .card-box .card__no .c_last_2 {
      font-size: 21px; }
    .card-inner-boxes .card-box .card__type {
      max-width: 55px;
      width: 100%;
      margin-left: 45px; }
      .card-inner-boxes .card-box .card__type img {
        max-width: 100%;
        width: 100%; }
    .card-inner-boxes .card-box.new-card-box .card__box {
      width: 116px;
      text-align: center; }
    .card-inner-boxes .card-box.new-card-box svg {
      height: auto;
      max-width: 35px;
      width: 100%;
      margin: 14.5px 0; }

.sign-wrapper {
  position: relative;
  -webkit-box-shadow: 0px 0px 11px -7px #969696;
  box-shadow: 0px 0px 11px -7px #969696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 700px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid #eee; }

.sign-wrapper-inner {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .sign-wrapper-inner canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.verify_phone_on_cp::after, .verify_phone_on_cp::before {
  content: "";
  display: block;
  clear: both; }

.cp-footer {
  max-width: 1032px;
  padding: 0 15px;
  margin: 0 auto 11px;
  display: table;
  vertical-align: middle;
  width: 100%; }

.cp-footer .col-sm-4:nth-child(2) {
  padding: 7px 0; }

.cp-footer .col-sm-4:nth-child(3) {
  padding: 5px 0; }

@media only screen and (max-width: 991px) {
  body {
    padding: 0 15px; }
  .card-inner-sketch .c__val {
    font-size: 18px;
    margin-bottom: 17px; }
  .card-inner-boxes .card-box .card__no {
    margin-bottom: 5px; }
    .card-inner-boxes .card-box .card__no .c_last_2 {
      font-size: 18px; } }

@media only screen and (max-width: 845px) {
  .card-inner-sketch {
    max-width: 324px; } }

@media only screen and (max-width: 767px) {
  .modal .modal-dialog {
    margin: 15px auto;
    max-width: 521px;
    width: 100%;
    padding: 0 10px; }
    .modal .modal-dialog .close {
      height: 35px;
      width: 35px;
      top: 2px;
      right: 0;
      border-radius: 0; }
  .card-inner-sketch .c__val {
    font-size: 16px;
    margin-bottom: 15px; }
  .card-placeholder {
    margin: 25px 0 21px; }
  .mycl-wrapper .flex-col:nth-child(1) {
    min-width: 99px; }
  .mycl-wrapper .flex-col:nth-child(2) {
    min-width: 65px; }
  .mycl-wrapper .flex-col:nth-child(3) {
    min-width: 75px; }
  .cp-footer .col-sm-4 {
    text-align: center;
    margin-bottom: 11px; } }

@media only screen and (max-width: 640px) {
  .card-inner-sketch .c__val {
    font-size: 14px;
    margin-bottom: 10px; }
  .card-inner-sketch {
    padding: 15px; } }

@media only screen and (max-width: 615px) {
  form.cardPaymentFormWrapper > .col-xs-6 {
    width: 55%; }
    form.cardPaymentFormWrapper > .col-xs-6.card-form {
      width: 45%; }
  .card-inner-sketch {
    max-width: 285px; } }

@media only screen and (max-width: 565px) {
  form.cardPaymentFormWrapper > .col-xs-6 {
    width: 100%; }
    form.cardPaymentFormWrapper > .col-xs-6.card-form {
      width: 100%; }
  form.cardPaymentFormWrapper .pay-detail, form.cardPaymentFormWrapper .bill-address {
    display: none; } }

@media only screen and (max-width: 360px) {
  form.cardPaymentFormWrapper > .col-xs-6 {
    padding-right: 7px;
    padding-left: 7px; } }
