@media (max-width:1200px) {

    .featured-text {
        margin-top: 40px
    }

    .featured-text h2 {
        font-size: 50px
    }

    .featured-text p {
        font-size: 19px
    }

    .featured-text a.btn,

    .featured-text.style2 a.simple-btn {
        font-size: 15px;
        text-align: center
    }

    .featured-text a.video-btn {
        margin-left: 40px;
        font-size: 19px
    }

    .featured-text a.video-btn i {
        font-size: 33px;
        height: 45px;
        width: 45px;
        padding: 5px
    }

    .featured-inner h4 {
        font-size: 16px
    }

    .featured-inner>p {
        font-size: 14px;
        line-height: 1.6
    }

    .double-mockup.overlap {
        margin-top: -45px
    }

    .contact-box {
        padding: 30px 10px 20px
    }

    .mockup {
        text-align: center
    }

    .mockup img {
        float: none;
        display: inline-block
    }

    .slash-featured {
        margin: 50px 0 0
    }

    .simple-featured-text {
        top: 130px
    }

    .saas-intro-img img {
        width: 600px
    }
}



@media (max-width:980px) {

    .slash-featured .row>div {
        float: left;
        width: 100%;
        margin: 0 0 50px
    }

    .slash-featured .row>div:last-child {
        margin: 0
    }

    .slash-features-carousel {
        padding: 40px;
        margin: 0
    }

    .features-mockup {
        position: relative;
        float: left;
        left: 0;
        width: 100%;
        text-align: center
    }

    .features-mockup img {
        float: none
    }

    .slash-features-carousel:before {
        display: none
    }

    .block .container>.row>div {
        margin: 0 0 30px;
        float: left;
        width: 100%
    }

    .block .container>.row>div:last-child {
        margin: 0
    }

    .featured-boxes {
        margin: 10px 0 -45px
    }

    .slash-facts .row>div {
        float: left;
        width: 50%
    }

    .slash-table-wrapper {
        text-align: center
    }

    .slash-table-wrapper .row>div {
        display: inline-block;
        width: 50%;
        margin: 0 -2px
    }

    .slash-team .row>div {
        float: left;
        width: 50%
    }

    .double-mockup.overlap {
        margin: 30px 0 -108px;
        text-align: center;
        float: left;
        width: 100%
    }

    .double-mockup img {
        width: auto;
        float: none
    }

    form.slash-subscribe {
        width: 100%
    }

    .slash-newsletter {
        padding: 70px 30px
    }

    .contact-box {
        margin: 0 0 30px
    }

    nav {
        position: fixed;
        right: -260px;
        top: 0;
        width: 260px;
        height: auto;
        background: #FFF;
        z-index: 10;
        overflow: auto;

        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

        -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

        -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

        -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    nav .nav li {
        float: left;
        width: 100%;
        color: #626262;
        font-weight: 400;
        line-height: 2 !important;
    }

    nav ul.nav li a {
        padding: 14px 0px;
        float: left;
        border-bottom: 1px solid #E2E2E2;
        width: 100%;
        font-size: 16px !important
    }

    nav .nav li a:hover {
        color: #626262
    }

    nav ul.nav {
        float: left;
        width: 100%;
        background: #f5f5f5;
        padding: 10px 0
    }

    nav ul.nav li:last-child a {
        border: 0
    }

    nav ul.nav li a::before,
    nav ul.nav li a:after {
        display: none
    }

    .menu-btn {
        display: block
    }

    nav.active {
        right: 0
    }

    .slash-video.overlap {
        margin: 0
    }

    .featured-boxes .row>div {
        float: left;
        width: 50%
    }

    .slash-services {
        text-align: center
    }

    .slash-services .row>div {
        display: inline-block;
        width: 50%;
        margin: 0 -2px
    }

    .slash-blog {
        text-align: center
    }

    .slash-blog .row>div {
        text-align: left;
        display: inline-block;
        width: 50%;
        margin: 0 -2px
    }

    .simple-featured-text {
        top: 110px
    }

    .simple-featured-text h2 {
        font-size: 40px;
        margin: 0 0 10px
    }

    .simple-featured-text>p {
        font-size: 18px;
        width: 100%
    }

    .pointing-mockup {
        display: table;
        margin: 0 auto
    }

    .features-intro .simple-text,
    .simple-text.style2 {
        display: unset;
        float: left;
        width: 100%;
        padding: 0;
        margin: 0 0 40px
    }

    .special-img {
        float: left;
        width: 100%;
        margin: 0
    }

    .special-text {
        float: left;
        width: 100%;
        margin: 0
    }

    .slash-product-features .row>div {
        float: left;
        width: 100%;
        margin: 0
    }

    .center-mockup {
        margin: 50px 0
    }

    .mockup-slide {
        text-align: center
    }

    .mockup-slide img {
        display: inline-block;
        float: none;
        max-width: 100%
    }

    .slide-text {
        display: unset;
        float: left;
        width: 100%;
        text-align: center
    }

    .slide-text p {
        text-align: center
    }

    .slide-text span {
        margin: 0 0 40px
    }

    .mockup-carousel .owl-dots {
        bottom: 0
    }

    .saas-intro-img {
        display: unset;
        float: left;
        width: 100%;
        text-align: center
    }

    .saas-intro {
        display: unset
    }

    .saas-intro-img img {
        float: none
    }

    .saas-form {
        display: unset;
        float: left;
        width: 100%;
        margin: 40px 0 0
    }

    .mockup-carousel-bg img {
        width: 100%
    }

    .slash-try {
        background: #e6ebf0e6;
        padding: 30px
    }

    .slash-portfolio>div {
        float: left;
        width: 50%
    }

    .slash-simple-parallax h3,
    .slash-simple-parallax p {
        display: unset;
        float: left;
        width: 100%;
        padding: 0
    }

    blockquote {
        margin: 40px 0 50px;
        width: 100%
    }
}





@media (max-width:767px) {
    //
    .login-block .login-sec {
        width: 80% !important;
    }
    .foot_list_link.pull-right
    {
     float:none !important;
     text-align: center !important;
    }
    .bg_dark .text-left.text-white
    {
        text-align: center !important;

    }






    nav ul.nav {
        margin-top: 0px !important;
    }

    #home .home_top.block {
        padding-top: 55px;
    }
    #home .home_top.block .slash-featured {
        margin-top: 20px;
    }
    #home .home_top.block .slash-featured .col-md-5 {
        margin-bottom: 0px;
    }
    #home .home_top.block .slash-featured .col-md-5 .mockup img {
        max-height: 150px;
    }
    #home .home_top.block .slash-featured .col-md-5 .font-40.uppercase img {
        max-width: 200px !important;
    }
    #home .home_top.block .slash-featured .col-md-5 .featured-text {
        margin-top: 0px !important;
    }

    #home .home_top.block .slash-featured .col-md-5 .featured-text h4 {
        font-size: 16px !important;
        margin-bottom: 0px !important;
    }
    #home .home_top.block .slash-featured .col-md-5 .featured-text .form-group {
        margin-bottom: 0px !important;
    }

    #home .home_top.block .slash-featured .col-md-5 .featured-text .btn.watch_btn {
        width: auto;
        padding: 5px 20px;
        font-size: 14px;
    }

    #home .home_top.block .slash-featured .col-md-5 .featured-text .simple-btn.bg_white {
        width: auto;
        padding: 5px 20px;
        font-size: 14px;
    }
    .vertical_line {
        display: none;
    }
    .support_form select,
    input {
        font-size: 14px;
    }
    .support_form input,
    textarea {
        font-size: 14px;
    }
    .pricing_top .fixed-bg::after {
        border: 20px solid transparent;
        z-index: 1;
        left: 45%;
    }
    .select_box {
        overflow: hidden;
    }
    h4,
    h3 {
        font-size: 20px !important;
    }
    h5 {
        font-size: 16px;
    }
    .title h3 {
        font-size: 24px !important;
    }
    h2 {
        font-size: 20px !important;
    }


    .fixed-bg.bg1.stop {
        height: 100%;
    }
    #security .block {
        padding-top: 50px !important;
    }
    #security .block#security img {
        max-height: 120px;
    }

    #how h5 {
        font-size: 16px;
    }
    #screens p {
        font-size: 16px;
    }
    #team .slash-team p {
        font-size: 16px;
    }
    div p {
        font-size: 16px;
    }

    #info:after {
        border: 20px solid transparent;
        left: 45%;
        margin: 0 auto;
    }


    .support_form .col-md-5.text-left {
        text-align: center !important;
    }

    .footer_link {
        text-align: center;
    }

    .block .container,
    .container {
        padding: 0 15px
    }

    header,
    header.stick {
        padding: 20px 10px 10px
    }

    header.stick {
        position: absolute
    }

    .logo {
        max-width: none
    }

    .logo img {
        max-width: none!important;
        width: 140px!important
    }

    .header-exts {
        position: relative;
        float: left;
        width: 100%;
        top: auto;
        margin: 20px 0 0
    }

    .socials {
        width: 50%;
        padding: 6px 0px;
        background: rgba(0, 0, 0, 1);
        margin: 0;
        text-align: center
    }

    .socials a {
        width: 25px;
        float: none;
        display: inline-block;
        font-size: 13px
    }

    .socials:before {
        display: none
    }

    header.style2 .socials a {
        color: #eee
    }

    .skewed-btn {
        float: left;
        width: 50%;
        padding: 8px 0;
        text-align: center;
        font-size: 13px
    }

    .skewed-btn:before {
        transform: skew(0)
    }

    .title>p {
        width: 400px
    }

    .logos>li {
        width: 50%!important
    }

    .simple-featured-text {
        position: relative;
        float: left;
        width: 100%;
        top: 0;
        padding: 40px 20px;
        background: #E5E5E5
    }

    .features-intro {
        display: unset
    }

    .pointing-mockup {
        text-align: center;
        padding: 0
    }

    .pointing-mockup img {
        float: none;
        max-width: 100%
    }

    .pointer-info {
        position: relative;
        float: left;
        width: 100%;
        top: 0 !important;
        padding: 0;
        left: 0 !important;
        margin: 10px 0 0;
        background: #F3F3F3;
        padding: 30px !important
    }

    .pointer-info:before,
    .pointer-info:after {
        display: none
    }

    .special-text {
        padding: 40px
    }

    .special-text>h4 {
        font-size: 30px
    }

    .simple-parallax h3 {
        font-size: 35px
    }

    .simple-parallax p {
        padding: 0
    }

    .slide-text h2 {
        font-size: 40px
    }

    .slide-text p {
        font-size: 23px
    }

    .find-box p {
        padding: 0
    }

    .find-box {
        padding: 20px
    }

    .saas-intro-img img {
        width: 100%
    }

    .big-mockup {
        width: 100%
    }

    .pagetop {
        padding-top: 160px;
        margin: 0px 0 35px
    }

    .page-title h1 {
        width: auto;
        padding: 10px 40px;
        font-size: 29px;
        border: 5px solid #FFF
    }

    .slash-author {
        display: unset
    }

    .slash-author>img {
        display: unset
    }

    .author-detail {
        display: unset;
        float: left;
        width: 100%;
        padding: 30px 0 0
    }

    .comment {
        display: unset;
        float: left;
        width: 100%;
        margin: 0 0 30px
    }

    .comment-img {
        display: unset;
        float: left
    }

    .comment-detail {
        float: left;
        width: 100%;
        padding: 30px 0 0
    }

    .slash-comments ul ul {
        padding: 30px 0 0
    }

    .error-page p {
        font-size: 19px;
        line-height: 1.5
    }

    .error-page span {
        position: relative;
        top: auto;
        left: 0;
        float: left;
        width: 100%;
        font-size: 20px;
        margin: 0 0 20px;

        transform: translate(0);
    }

    .error-page h2 {
        font-size: 140px
    }

    .error-page strong {
        font-size: 22px
    }

    .error-page {
        background-size: 100% auto;
        padding-top: 40px
    }
}



@media (max-width:480px) {

    .featured-text h2 {
        font-size: 34px
    }

    .featured-text p {
        font-size: 16px
    }

    .featured-text a.btn {
        width: 100%;
        margin: 0 0 20px
    }

    .featured-text a.video-btn {
        width: 100%;
        margin: 0;
        text-align: center
    }

    .animateme {
        transform: none !important;
        opacity: 1 !important
    }

    .title>p {
        width: 100%
    }

    .featured-boxes .row>div {
        width: 100%
    }

    .slash-video>a {
        font-size: 40px
    }

    .title>h3 {
        font-size: 30px
    }

    .slash-facts .row>div {
        width: 100%
    }

    .fun-fact i {
        font-size: 40px;
        margin: 0 0 10px
    }

    .fun-fact strong {
        font-size: 40px
    }

    .slash-testimonials {
        padding: 25px
    }

    .review {
        display: unset
    }

    .review-img {
        display: unset;
        float: left;
        text-align: left
    }

    .img-inner {
        width: auto;
        float: non
    }

    .review-inner {
        display: unset;
        float: left;
        width: 100%;
        padding: 40px 0 0
    }

    .slash-testimonials .owl-dots {
        left: 20px;
        bottom: -15px
    }

    .slash-table-wrapper .row>div {
        width: 100%;
        margin: 0
    }

    .slash-team .row>div {
        width: 100%
    }

    .download-slash>h3 {
        font-size: 36px
    }

    .download-slash .dark-btn {
        width: 100%;
        margin: 0 0 10px;
        text-align: center
    }

    form.slash-subscribe {
        height: auto;
        border-radius: 10px;
        padding: 0;
        overflow: hidden
    }

    form.slash-subscribe input {
        font-size: 15px;
        padding: 10px 20px;
        height: 59px
    }

    .slash-subscribe .simple-btn {
        position: relative;
        float: left;
        right: auto;
        top: auto;
        border-radius: 0;
        width: 100%
    }

    .slash-newsletter {
        padding: 60px 15px 30px;
        border-radius: 0 0 10px 10px
    }

    .logos>li {
        width: 100%!important
    }

    .featured-text.style2>h2 {
        font-size: 33px
    }

    .apps-link>a {
        font-size: 40px;
        margin-right: 30px
    }

    .featured-text a.simple-btn {
        width: 100%;
        margin: 0 0 20px
    }

    .slash-services .row>div {
        width: 100%;
        margin: 0
    }

    .selectors.style2 {
        min-width: 0;
        margin: 0 auto 30px
    }

    .selectors.style2 li a {
        font-size: 14px;
        padding: 13px 30px
    }

    .slash-blog .row>div {
        width: 100%;
        margin: 0
    }

    ul.meta {
        padding: 6px 10px
    }

    .slash-video-featured.full-video {
        height: 440px
    }

    .features-intro .simple-text h3 {
        font-size: 30px
    }

    .form-title h3 {
        font-size: 23px
    }

    .saas-mockup-carousel.owl-carousel {
        padding: 11px 27px 0
    }

    .saas-mockup-carousel .owl-dots {
        margin-top: 80px
    }

    .modern-contact-boxes span {
        font-size: 20px
    }

    .startup-featured-text h2 {
        font-size: 31px
    }

    .gallery-img {
        position: relative;
        float: left;
        left: 0 !important;
        top: 0 !important;
        width: 100%;
        height: auto
    }

    .slash-try p {
        padding: 0
    }

    .slash-portfolio>div {
        width: 100%
    }

    .slash-page-title {
        font-size: 26px;
        line-height: 1.4
    }

    .comment-detail span,
    .comment-detail h5 {
        float: left;
        width: 100%
    }
}