* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
}

.pricing-table {
    width: 20% !important;
    display: flex;
    flex-wrap: wrap;
    /*max-width: 200px;*/
    justify-content: space-around;
    width: min(1200px, 100%);
    margin: auto;
}

.pricing-card {
    flex: 1;
    background-color: azure;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
}

.pricing-card-header {
    width: 100%;
    background-color: deepskyblue;
    display: inline-block;
    color: #fff;
    padding: 12px 20px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

@media screen and (min-width: 600px) {
    .pricing-card-header {
        padding: 12px 5px;
        font-size: 15px;
    }
    .pricing-card li {
        font-size: 13px;
    }
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 50em #324ab2;
}

.price {
    font-size: 70px;
    color: #0fbcf9;
    margin: 40px 0;
    transition: .2s linear;
}

.price sup,
.price span {
    font-size: 22px;
    font-weight: 700;
}

.pricing-card:hover ,.price{
  color: #fff;
}

.pricing-card li {
    font-size: 15px;
    padding: 10px 8px;
    height: 75px;
    /*  text-transform: uppercase;*/
}

.features__tick::after {
    content: "\2714";
    color: deepskyblue;
}

#left-area ul,
.comment-content ul,
.entry-content ul,
.et-l--body ul,
.et-l--footer ul,
.et-l--header ul,
body.et-pb-preview #main-content .container ul {
    padding: 0px !important;
}